html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: white;
}
.container {
  margin: 0 auto;
  width: 960px;
}


/* Header Section */
header {
  background-color: black;
  color: white;
  width: 100%;
}

header span {
  font-size: 1rem;
  padding: 0.66rem 0;
  text-transform: uppercase;
}

header .container {
  display: flex;
  align-items: center;
  padding: 12px 0.5em;
}

header img {
  height: 1.5em;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

/* Main Banner Section */
.main-banner {
  height: 25rem;
  background-image: url("images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: cover;
}

.headline {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2em 3em;
  position: relative;
  top: 9em;
  text-transform: uppercase;
}

.headline h4 {
  font-size: 1rem;
  font-weight: bold;
}

.headline h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
  line-height: 1.2em;
}

/* Nav Section */
nav {
  background-color: firebrick;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav li {
  color: white;
  display: inline-block;
  padding: 0.75rem 0;
}

.mobile-nav {
  display: none;
}

/*Product section */
.main-products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.item {
  width: 30%;

}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: 9rem;
  border: 4px solid black;
}
.product-image img {
  max-width: 8em;
}

.description {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}

/* Infos Section */
.infos {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.info {
  width: 35%;
}

.title {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
  display: block;
  margin-bottom: 0.25rem;
}

/* Footer Section */
footer {
  height: 7rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

/* Media queries */
@media only screen and (max-width: 1024px) {
  .headline {
    font-size: 1rem;
  }
  nav ul {
    display: none;
  }
  .mobile-nav {
    display: block;
    text-align: center;
  }
  .glasses {
    display: none;
  }
  .item {
    width: 47%;
  }
  .info {
    width: 35%;
  }
}

@media only screen and (max-width: 360px) {

.container {
  max-width: 470px;
}
  .main-banner {
    height: 15rem;
  }
  .headline {
    padding: 1em 2em;
    width: 100%;
  }
  .headline h4 {
    padding-top: 1rem;
    font-size: 0.77rem;
    font-weight: bold;
  }
  .headline h1 {
    margin-top: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .item.watch {
    display: none;
  }
  .item.glasses {
    display: none;
  }

  .item.pen {
    width: 90%;

  }
  .info {
  width: 90%;
  }
  .title {
    margin-top: 0.5rem;
  }
  footer {
    text-align: center;
  }
}
