html {
  box-sizing: border-box;
}
*,*::before, *::after {
  box-sizing: inherit;

}

/* Universal Styles to the page: */
html {
  font-size: 18px;
}
body {
  font-family: Helvetica, sans-serif;
  background-color: white;
}
h1,h4 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


/* Header Section */
header {
  background-color: black;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
  text-transform: uppercase;
  font-size: 1rem;

}
header img {
  height: 1.5rem;
  padding: 0 1rem 0 0.5rem;
}

/* Main Banner Section */

.main-banner {
  height: 25rem;
  background: url("images/moto.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.headline {
  position: relative;
  top: 9rem;
  color: white;
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  text-transform: uppercase;
}

.headline h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
  line-height: 1.2;
}

@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15rem;
  }
  .headline {
    width: 100%;
    top: 10rem;
    padding: 1rem 2rem;

  }
   h4 {
    font-size: 0.77rem;
  }
  h1 {
    font-size: 1rem;
  }
}

/* Nav Section */
nav {
  background-color: firebrick;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }
  .mobile-nav {
    display: block;
    text-align: center;

  }
}
@media only screen and (max-width: 470px) {
.mobile-nav {
  margin-top: 2.7rem;
}
}


/* Product Section */
.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;

}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  }

  .product-image img {
    max-width: 8rem;
  }

  .description {
    padding: 0.5rem 0;
    color: white;
    background-color: black;
    text-align: center;
    display: block;
  }

  @media only screen and (max-width: 1024px) {
    .glasses {
      display: none;
    }
    .product {
      width: 47%;
    }
  }

  @media only screen and (max-width: 470px) {

    .product {
      width: 90%;
      margin: 1rem auto;
    }
    .watch {
      display: none;
    }
  }

  /* Info Section */
.info {
  width: 35%;
}
.title {
  padding: 1rem 2rem;
  background-color: black;
  display: block;
  color: white;
}
@media only screen and (max-width: 1024px) {
  .info {
    width: 35%;
  }
}

@media only screen and (max-width: 470px) {
  .products,
  .business-info {
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .info {
    width: 90%;
    margin: 0.5rem auto;
  }

}

/* Footer Section */
footer {
  background-color: black;
  margin-top: 3rem;
  padding: 5rem 0;
  text-align: left;
  color: white;
}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
